---
import { Icon } from "astro-icon/components";
import ThemeSwitcher from "~/components/theme-switcher.astro";
import type { NavItem } from "~/types";
import logo from "../assets/iaanalitycs.png";
import logoInverted from "../assets/iaanalitycs-invert.png";

const navItems: Array<NavItem> = [
  { title: "Services", url: "#services" },
  { title: "About Us", url: "#about-us" },
  { title: "Projects", url: "#projects" },
];
---

<header
  id="page-header"
  class="absolute bottom-0 z-20 flex w-full items-center justify-between border-b border-transparent px-8 py-4 text-white"
>
  <a class="flex items-center gap-3 hover:!text-default" href="#">
    <h1 class="sr-only">IAANALITYCS</h1>
    <img id="logo-img" src={logo.src} alt="logo" class="w-52 h-auto" />
  </a>
  <div>
    <div class="flex items-center gap-6">
      <nav class="hidden sm:block">
        <ul class="flex items-center gap-6">
          {
            navItems.map(({ title, url }) => (
              <li>
                <a class="text-sm" href={url}>
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <button
        id="open-nav-button"
        type="button"
        class="btn sm:hidden"
        aria-label="Navigation"
      >
        <!-- <Icon name="mdi:menu" class="size-8" /> -->
      </button>
      <ThemeSwitcher />
    </div>
    <div id="menu-modal" class="modal hidden" aria-hidden="true">
      <div class="fixed inset-0 bg-default px-8 py-4 text-default">
        <div class="space-y-4" role="dialog" aria-modal="true">
          <header class="text-right">
            <button
              id="close-nav-button"
              type="button"
              class="btn"
              aria-label="Close navigation"
            >
              <Icon name="mdi:close" class="size-8" />
            </button>
          </header>
          <div class="flex justify-center">
            <Icon name="logomark" class="size-16" />
          </div>
          <nav>
            <ul class="flex flex-col">
              {
                navItems.map(({ title, url }) => (
                  <li>
                    <a class="block py-4 text-center text-xl" href={url}>
                      {title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  import MicroModal from "micromodal";
  import invariant from "tiny-invariant";

  const menuModalId = "menu-modal";

  const header = document.querySelector("#page-header") as HTMLElement;
  const page = document.documentElement;
  const menu = document.querySelector(`#${menuModalId} ul`);
  const openNavButton = document.querySelector("#open-nav-button");
  const closeNavButton = document.querySelector("#close-nav-button");
  const logoImg = document.querySelector("#logo-img") as HTMLImageElement;
  const themeSwitcher = document.querySelector("#theme-switcher");

  invariant(header, "header should not be null");
  invariant(menu, "menu should not be null");
  invariant(openNavButton, "openNavButton should not be null");
  invariant(closeNavButton, "closeNavButton should not be null");
  invariant(logoImg, "logoImg should not be null");
  invariant(themeSwitcher, "themeSwitcher should not be null");

  const openMenu = () => {
    MicroModal.show(menuModalId, { disableScroll: true });
  };

  const closeMenu = () => {
    MicroModal.close(menuModalId);
  };

  openNavButton.addEventListener("click", openMenu);
  closeNavButton.addEventListener("click", closeMenu);

  document.addEventListener("scroll", () => {
    const d = page.clientHeight - page.scrollTop - header.offsetHeight;
    header.classList.toggle("fixed-header", d < 0);
  });

  menu.addEventListener("click", (event) => {
    if ((event.target as HTMLElement).tagName === "A") {
      closeMenu();
    }
  });

  // Función para actualizar la imagen del logo según el tema
  const updateLogo = () => {
    const theme = localStorage.getItem("theme") || "light";
    // Ajuste para mostrar la imagen correcta según el tema
    logoImg.src = theme === "dark" 
      ? new URL("../assets/iaanalitycs.png", import.meta.url).href 
      : new URL("../assets/iaanalitycs-invert.png", import.meta.url).href;
  };

  // Actualiza el logo al cargar la página
  window.addEventListener("DOMContentLoaded", () => {
    updateLogo();
  });

  // Actualiza el logo cuando se cambie el tema
  themeSwitcher?.addEventListener("click", () => {
    // Cambia el tema en localStorage
    const currentTheme = localStorage.getItem("theme") || "light";
    const newTheme = currentTheme === "light" ? "dark" : "light";
    localStorage.setItem("theme", newTheme);

    // Actualiza el logo inmediatamente
    updateLogo();
  });
</script>



<noscript>
  <style>
    #open-nav-button {
      display: none;
    }
  </style>
</noscript>

<style>
  .fixed-header {
    @apply fixed bottom-auto top-0;
    @apply border-default bg-default text-default;
  }
  .modal.is-open {
    @apply block;
  }
</style>
